<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div style="padding: 50px 100px 10px;">
    <h2 id="bookTitle" class="text-center" th:text="${booktitle}"></h2>
    <div id="lists" class="container">
        <div class="row">
            <div class="col-xs-12" th:each="list:${lists}">
                <p th:utext="${list.getContent()}"></p>
            </div>
        </div>
    </div>
    <div id="page" class="container">
        <div class="row">
            <div class="col-xs-5 text-right">
                <button type="button" class="btn btn-default"><a th:href="${lastLink}">上一章</a></button>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5 text-left">
                <button type="button" class="btn btn-default"><a th:href="${nextLink}">下一章</a></button>
            </div>
        </div>

    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>