<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div style="padding: 50px 100px 10px;">
    <h2 id="bookTitle" class="text-center" th:text="${booktitle}"></h2>
    <div id="lists" class="container">
        <div class="row">
            <div class="col-xs-12" th:each="list:${lists}">
                <p th:utext="${list.getContent()}"></p>
            </div>
        </div>
    </div>
    <div id="page" class="container">
        <div class="row">
            <div class="col-xs-5 text-right">
                <button type="button" class="btn btn-default"><a class="lastCharpter" th:href="${lastLink}">上一章</a>
                </button>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5 text-left">
                <button type="button" class="btn btn-default"><a class="nextCharpter" th:href="${nextLink}">下一章</a>
                </button>
            </div>
        </div>

    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        document.onkeypress = doKey;
        document.onkeydown = doKey;

        function doKey(e) {
            var ev = e || window.event;//获取event对象
            var k = e.keyCode||e.which||e.charCode;
            if (k == 37) {
                window.location = "http://localhost:8081" + $(".lastCharpter").attr("href");
// 上键
//你的上一页js方法
            } else if (ev.keyCode == 39) {
// 下键
//你的下一页js方法
                window.location = "http://localhost:8081" + $(".nextCharpter").attr("href");
            }
        }
    });

</script>
</body>
</html>